<nav>
  <a routerLink="binding" routerLinkActive="active" >Binding</a>
  <a routerLink="directives" routerLinkActive="active">Directives</a>
  <a routerLink="madhu" routerLinkActive="active">Madhu</a>
  <a routerLink="service" routerLinkActive="active">Services</a>
  <a routerLink="forms" routerLinkActive="active">Forms</a>

</nav>




<!-- <button style="margin: 10px;" >
  <a routerLink="employee-details" routerLinkActive="active">Employee-Details</a>
  </button>
  <button style="margin: 10px;" >
    <a routerLink="employee-list" routerLinkActive="active">Employee-list</a>
    </button>
    <button style="margin: 10px;" >
      <a routerLink="hotel" routerLinkActive="active">Hotel</a>
      </button> -->







<router-outlet></router-outlet>

